@model Alquileres.Models.Sucursales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sucursales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudad.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhabitaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhabitaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoMensual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoMensual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SucursalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
