@model Alquileres.Models.Sucursales

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seuro de eliminar?</h3>
<div>
    <h4>Sucursales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudad.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista ", "Index")
        </div>
    }
</div>
