@model IEnumerable<Alquileres.Models.Sucursales>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Sucursales</h2>

<p>
    @Html.ActionLink("Crear Nueva Sucursal", "Nuevo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciudad.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barrio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.SucursalId }) |
            @Html.ActionLink("Mostrar", "Mostrar", new { id=item.SucursalId }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.SucursalId })
        </td>
    </tr>
}

</table>
